<section class="wrapper">

    <h5>
        {{filterConfig?.name}}
    </h5>
    <section class="filters-container">
        <div class="filter-container" *ngFor="let filter of filterConfig?.filters">
            {{filter?.name}} Filter
            <div class="filter-options" [ngSwitch]="filter.type">
                <div class="dropdown-filter" *ngSwitchCase="'DROPDOWN'">
                    <select (change)="onDropDownChange($event, filter)">
                        <option value="null">--Select--</option>
                        <option *ngFor="let opt of filter.options" [value]="opt.value">{{opt.label}}</option>
                    </select>
                </div>    
                <div class="checkbox-filter" *ngSwitchCase="'CHECKBOX'">
                    <label *ngFor="let opt of filter.options">
                        <input type="checkbox" name="" [value]="opt.value" (change)="onCheckBoxChange($event, filter)">
                        {{opt.label}}
                    </label>
                </div>
                
                <div class="checkbox-filter" *ngSwitchCase="'RADIO'">
                    <label *ngFor="let opt of filter.options" for={{opt.label}}>
                        <input type="radio" [name]="filter.name" [value]="opt.value" id={{opt.label}} (change)="onRadioChange($event, filter)">
                        {{opt.label}}
                    </label>
                </div>

            </div>
        </div>
    </section>
</section>